img {
  max-width: 100%;
}

div:first-of-type {
  border: 10px solid red;
}

div:nth-of-type(2) {
  border: 10px dashed blue
}

div:nth-of-type(3) {
  border-left: 10px solid green;
}

div:last-of-type {
  border-top: 5px solid red;
  border-bottom: 5px solid red;
  border-left: 5px solid blue;
  border-right: 5px solid blue;
}



/* Code Under This Line */
