p {
  line-height: 1.5;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.box {
  width: 180px;
  height: 180px;
  margin-left: 15px;
  margin-bottom: 20px;
}

/* Your Code Goes Under This Line */
